<header class="header">
  <img
    class="header__logo"
    src="./assets/images/logo.png"
    alt="logotipo de spotify"
  />
  <img
    class="header__burguer"
    src="./assets/images/menu-icon.png"
    alt=" Icono menu hamburguesa"
  />
  <nav class="header__menu">
    <ul>
      <li<a class="header__menu--link" href="">Premium</a></li>
      <li<a class="header__menu--link" href="">Ayuda</a></li>
      <li<a class="header__menu--link" href="">Descargar</a></li>
      <li<a class="header__menu--link" href=""> | </a></li>
      <li<a class="header__menu--link" href="">Registrarse</a>
      </li>
      <li<a class="header__menu--link" href="">Iniciar sesión</a>
      </li>
    </ul>
  </nav>
</header>
