<section class="white">
    <h1 class="white__premiumTitle">¿Por qué pasarte a Premium?</h1>
    <div class="white__conditions">


      <include
      src="./articles.html"
      class="icon"
      images="benefit-1.png"
      alt="arrow point down and music note"
      subtitles="Descarga música"
      sub_subtitle="Llévala siempre contigo"></include>

      <include
      src="./articles.html"
      class="icon"
      images="benefit-2.png"
      alt="phone screen with exclamation"
      subtitles="Sin anuncios"
      sub_subtitle="Disfruta de música sin interrupciones"></include>

      <include
      src="./articles.html"
      class="icon"
      images="benefit-3.png"
      alt="various music notes"
      subtitles="Escucha lo que quieras"
      sub_subtitle="Incluso en el móvil"></include>

      <include
      src="./articles.html"
      class="icon"
      images="benefit-4.png"
      alt="phone screen with play button"
      subtitles="Salta todas las canciones que quieras"
      sub_subtitle="Simplemente dale a siguiente"></include>

  </section>