<section class="blue">
  <div class="blue__wrapperContainer">
    <h1 class="blue__wrapperContainer--principal">
      Prueba premium gratis 3 meses
    </h1>
    <h2 class="blue__wrapperContainer--secondary">
      Escucha millones de canciones sin anuncios, a la carta y sin conexión.
    </h2>
    <div class="blue__wrapperContainer--button"><p>VER PLANES</p></div>
    <h6 class="blue__wrapperContainer--smallText">
      Rigen términos y condiciones. Los 3 meses gratis no están disponibles para
      usuarios que ya hayan probardo premium.
    </h6>
  </div>
</section>
