<section class="section-white">
    <h1 class="premium-title">¿Por qué pasarte a Premium?</h1>
    <div class="conditions">
      <article class="icon">
        <img class="img_benefits" src="./assets/images/benefit-1.png" alt="arrow point down and music note" />
        <div class="conditions-tex">
          <p class="subtitles">Descarga música</p>
          <p class="sub-subtitle">Llévala siempre contigo</p>
        </div>
      </article>
      <article class="icon">
        <img class="img_benefits" src="./assets/images/benefit-2.png" alt="phone screen with exclamation" />
        <div class="conditions-tex">
          <p class="subtitles">Sin anuncios</p>
          <p class="sub-subtitle">Disfruta de música sin interrupciones</p>
        </div>
      </article>
      <article class="icon">
        <img class="img_benefits" src="./assets/images/benefit-3.png" alt="various music notes" />
        <div class="conditions-tex">
          <p class="subtitles">Escucha lo que quieras</p>
          <p class="sub-subtitle">Incluso en el móvil</p>
        </div>
      </article>
      <article class="icon">
        <img class="img_benefits" src="./assets/images/benefit-4.png" alt="phone screen with play button" />
        <div class="conditions-tex">
          <p class="subtitles">Salta todas las canciones que quieras</p>
          <p class="sub-subtitle">Simplemente dale a siguiente</p>
        </div>
      </article>
  </section>