.footer {
  background-color: black;
  font-size: 10px;
  color: gray;
  padding: 40px 20px 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__textoFot {
    max-width: 250px;
    display: flex;

    &--menuFooter {
      display: inline-block;
    }
  }

  &__textoDer {
    text-align: right;
    font-size: 10px;

    &--textoEspana {
      margin-bottom: 10px;
    }
  }
}

.link_footer {
  color: gray;
  text-decoration: none;
  margin: 6px;
}

.menu_item_footer {
  color: gray;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
}

.bandera {
  width: 20px;
}

@media all and(min-width:768px) {
}

@media all and(min-width:1200px) {
}
