.footer {
  background-color: black;
  font-size: 10px;
  color: gray;
  padding: 40px 20px 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menu_footer {
  display: inline-block;
}
.link_footer {
  color: gray;
  text-decoration: none;
  margin: 6px;
}
.texto-fot {
  max-width: 250px;
  display: flex;
}

.menu_item_footer {
  color: gray;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
}
.texto_der {
  text-align: right;
  font-size: 10px;
}
.bandera {
  width: 20px;
}
.texto_espana {
  margin-bottom: 10px;
}
@media all and(min-width:768px) {
}

@media all and(min-width:1200px) {
}
