.header {
  background-color: black;
  position: sticky;
  top: 0;
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  height: 40px;
  padding-left: 30px;
}
.burguer {
  align-items: flex-end;
  width: 40px;
  height: 40px;
  margin-left: 110px;
}
.menu {
  display: none;
}
@media all and (min-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
  }
  .menu_item {
    align-items: center;
    color: white;
  }
  .burguer {
    display: none;
  }
}
@media all and (min-width: 1200px) {
}
